body {
  margin: 0;
  background-image: linear-gradient(140deg, #5b0ec7, #9acaf9);
}

#menu {
  position: absolute;
  left: 0;
  top: 0;
}

video {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  z-index: 10;
}
/* button { */
/* position: absolute; */
/* left: 50%; */
/* bottom: 0; */
/* } */
